@import "../styles/css/base/BaseTheme";

.basket {
  margin: 50px 10px;

  .container {
    display: flex;
    justify-items: center;
    align-items: center;

    .wrapper {
      width: 100%;
      display: flex;
      justify-items: center;
      align-items: flex-start;
      border: 1px solid rgba(75, 74, 74, 0.5);
      border-radius: 5px;
      box-shadow: 2px 2px 4px rgba(75, 74, 74, 0.5);
      -moz-box-shadow: 2px 2px 4px rgba(75, 74, 74, 0.5);
      -webkit-box-shadow: 2px 2px 4px rgba(75, 74, 74, 0.5);
      -o-box-shadow: 2px 2px 4px rgba(75, 74, 74, 0.5);
      padding: 20px;

      .cartDetail {
        font-size: 16px;
        font-weight: 600;
        margin: 20px 0;
      }

      .cartItems {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        justify-items: center;
        border-radius: 5px;
        box-shadow: -1px 1px 2px rgba(75, 74, 74, 0.5);

        .itemRow {
          display: flex;
          justify-content: space-between;

          .emptyCart {
            font-size: 18px;
            font-weight: 500;
            padding: 20px;
          }

          .basketItems {
            display: grid;
            grid-template-columns: 3fr 80px 2fr;
            grid-template-rows: repeat(5, 1fr);
            padding: 40px 20px;
            border-bottom: 1px dotted #969699;

            &:last-child {
              border-bottom: none;
            }

            .itemNameSection {
              display: block;
              font-weight: 600;
              grid-row: 1 / span 5;

              .selectedOptionsSection {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 14px;
                font-weight: 400;
                padding: 10px;
              }

            }


            .countButtonSection {
              display: flex;
              justify-content: space-between;
              border: none;
            }

            .priceSection {
              justify-content: flex-end;
            }
          }
        }
      }

      .totalSection {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        box-shadow: -1px 1px 2px rgba(75, 74, 74, 0.5);
        padding: 20px;
        margin: 20px 0;

        .total {
          font-weight: 600;
        }
      }

      .payButton {
        width: 20%;
        align-self: center;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        border: none;
        border-radius: 25px;
        background-color: $base-color;
        color: #ffffff;
        padding: 10px;
      }
    }
  }
}